<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testimonials</title>
</head>
<body>
    <h1>Upload-Photo</h1>
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <span>Upload-File</span>
        <input type="file" name="mypic" required><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>